body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#search-container {
    margin: 0 auto 2rem;
    width: 50%;
    background-color: #dfdfdf;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    margin-right: 10px;
    margin: 0.2rem;
}

input {
    margin-right: 20px;
    margin: 1rem;
    padding: 5px;
}

#searchBtn {
    padding: 10px 20px;
    margin: 1rem;
    font-size: 16px;
}

#result-container {
    margin-top: 40px;
}

#route, #emissions {
    font-size: 18px;
}

